// Stylesheet for the Stats Preview Card Main component

.card {
    width: 100%;
    height: auto;
    background-color: $card-bg-cl;
    border-radius: 10px;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;

    .card__banner {
        display: flex;
        height: 30%;
        position: relative;

        img {
            width: 100%;
            background-color: $img-ov-cl;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .card__banner__overlay {
            position: absolute;
            background-color: $img-ov-cl;
            height: 100%;
            width: 100%;
            opacity: 0.6;
        }
    }

    .card__details {
        padding: 2rem;

        h2 {
            font-family: $t-ft;
            font-weight: $ft-bl;
            font-size: 1.8rem;
            line-height: 35px;
            margin-bottom: 2rem;

            span {
                color: $img-ov-cl;
            }
        }

        p {
            line-height: 20px;
            padding: 0 5px;
            color: $p-cl;
            letter-spacing: .5px;
            font-family: $t-ft;
            font-size: 14px;
        }
    }

    .card__stats {
        h3 {
            font-family: $t-ft;
            font-weight: $ft-bl;
            font-size: 1.5em;
            margin-bottom: .5rem;
            color: $h-cl;
        }

        h4 {
            text-transform: uppercase;
            color: $p-cl;
            font-size: .7rem;
            padding-bottom: 2rem;
            letter-spacing: .5px;
        }
    }
}

