// Card related stylesheet
.card {
    background: $cardbg;
    margin-top: 90px;
    margin-bottom: 50px;

    @media screen and (min-width: $breakpoint-desktop) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin: 0;
    }

    .cardimg {
        height: 15rem;
        width: 100%;
        background-color: $accent;

        @media screen and (min-width: $breakpoint-desktop) {
            max-height: 454px;
            height: 100%;
            width: 50%;
        }

        img {
            height: 100%;
            width: 100%;
            opacity: 0.4;
            object-fit: cover;
        }
    }

    .card-content {
        padding: 2.5rem 1.875rem;
        text-align: center;

        @media screen and (min-width: $breakpoint-desktop) {
            padding: 4.68rem 6rem 4rem 4.375rem;
            text-align: left;
            width: 50%;
        }

        .card-header {
                font-family: $fontInter;
                margin-bottom: $mg-large;

                @media screen and (min-width: $breakpoint-desktop) {
                    margin-bottom: $mg-large + 1;
                }
            
                h2 > span {
                    color: $accent;
                }
        }

        .stats {
            font-family: $fontInter;
        }
    }
}