
    // Primary Color
    $mainbg: hsl(233, 47%, 7%);
    $cardbg: hsl(244, 38%, 16%);
    $accent: hsl(277, 64%, 61%);

    // Neutral Colors
    $main-head: hsl(0, 0%, 100%);
    $para: hsla(0, 0%, 100%, 0.75);
    $stat-head: hsla(0, 0%, 100%, 0.6);

    // Font size
    $font-small: 0.75rem ; // 12px
    $font-default: 0.938rem; // 15px
    $font-md-lg: 1.5rem; // 24px
    $font-lg: 1.75rem; // 28px
    $font-xlg: 2.5rem; // 40px

    // Font Weight
    $fw-md-inter: 400; // Inter font weight - Medium
    $fw-bl-inter: 700; // Inter font weight - Bold 

    $fw-md-lexend: 400; // Lexend font weight - Medium

    // Margin
    $mg-default: 1rem;
    $mg-small: 1.5rem;
    $mg-medium: 2rem;
    $mg-large: 3rem;

    // breakpoints
    $breakpoint-desktop: 64.5rem; // 1024px
    $breakpoint-mobile: 23.438rem; // 375px